<h1>Adding a dose</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
<%= f.input :description %>
<%= f.association :ingredient, required: true %>
<%= f.button :submit, class: "btn-primary" %>
<% end %>
