.btn-flat-main {
  margin: 10px auto 30px auto;
  text-decoration: none;
  padding: 8px 30px;
  text-transform: uppercase;
  color: $dark-gray;
  border: 1px solid $dark-gray;
    &:hover {
      text-decoration: none;
      background-color: $dark-gray;
      color: #fff;
    }
}

.back-link {
  text-decoration: none;
  color: $dark-gray;
  opacity: 0.5;
  &:hover {
    text-decoration: none;
    color: $dark-gray;
    opacity: 1;
  }
}
