.view-content {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: 60px auto;
  justify-content: space-between;
}

.container {
  padding: 30px 20px 0 20px;
}

.horizontal-align {
  display: flex;
  text-align: center;
}
